<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chaofanteaching">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="超凡家教"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".All" />
        <activity android:name=".MainActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoList.InfoListActivity"
            android:label="@string/title_activity_info_list" />
        <activity
            android:name=".InfoList.InfoDetailActivity"
            android:label="@string/title_activity_info_detail" />
        <activity
            android:name=".InfoList.AddInfoActivity"
            android:label="@string/title_activity_add_info"></activity>

        <activity android:name=".myself.MyData" />
        <activity android:name=".myself.NameDetail" />
        <activity android:name=".myself.PhoneDetail" />
        <activity android:name=".sign.LoginActivity"/>
        <activity android:name=".sign.LogonActivity"/>
        <activity android:name=".about.About"/>
        <activity android:name=".about.Student_Authentication"/>
        <activity android:name=".myself.AddressDetail"></activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>