<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chaofanteaching">
    <!-- sd卡 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 唤醒锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/><!-- 访问精确定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 修改音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 允许读写系统设置项 使用设置时需要 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" /> <!-- 访问GMail账户列表 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 使用证书 -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- 管理账户 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" /> <!-- 验证账户 -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> <!-- 连续广播（允许一个程序收到广播后快速收到下一个广播） -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/cfjj1"
        android:label="超凡家教"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".order.OrderList"></activity>
        <activity android:name=".order.SubSuccess" />
        <activity android:name=".order.OrderInfo" />
        <activity android:name=".comments.MyCommentsActivity" />
        <activity android:name=".comments.CommentingActivity" />
        <activity android:name=".order.SubmitOrder" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".InfoList.Info_Map" />
        <activity android:name=".MyPublish.MyPublishActivity" />

        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1105191204107210#chaofanteach" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver> <!-- 点击查看大图崩溃 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" /> <!-- 地图 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" /> <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="wfOwZE9cY28U6c3q0P7y08fTNFBmQ412" />

        <activity android:name=".sign.ChooseIdentityActivity" />
        <activity
            android:name=".All"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".sign.RePWActivity" />
        <activity android:name=".InfoList.ParInfoActivity" />
        <activity android:name=".InfoList.AddStuInfoActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoList.InfoDetailActivity"
            android:label="@string/title_activity_info_detail" />
        <activity
            android:name=".InfoList.AddInfoActivity"
            android:label="@string/title_activity_add_info"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".myself.MyData" />
        <activity android:name=".myself.NameDetail" />
        <activity android:name=".myself.PhoneDetail" />
        <activity android:name=".sign.LoginActivity" />
        <activity android:name=".sign.LogonActivity" />
        <activity android:name=".sign.FindMyPWActivity" />
        <activity android:name=".about.About" />
        <activity android:name=".about.Student_Authentication" />
        <activity android:name=".myself.AddressDetail" />
        <activity android:name=".myself.Setting" />
        <activity android:name=".myself.RenZheng" />
        <activity android:name=".MyPublish.MPInfoActivity" />
        <activity android:name=".fragment.MyCollection" />

        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1105191204107210#chaofanteach" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.example.chaofanteaching" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyReceiver1"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />

                <category android:name="com.example.chaofanteaching" />
            </intent-filter>
        </receiver>

        <activity android:name=".myself.EmailDetail" />
        <activity android:name=".robot.Chatrobot" />
        <activity android:name=".Video.VideoChinese" />
        <activity android:name=".Video.VideoMath" />
        <activity android:name=".Video.VideoEnglish" />
        <activity android:name=".myself.AboutUs" />
    </application>

</manifest>